.main_container {
    display: flex;
    justify-content: center;
   
}

.main_wrapper {

    margin-top: 30px;
    border-radius: 10px;
    box-shadow:
     rgba(0, 0, 0, 0.25)  0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
     rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
       rgba(0, 0, 0, 0.09) 0px -3px 5px;
       background: url('https://c8.alamy.com/comp/JPYPRX/colorful-confetti-background-with-round-plate-enter-to-win-prizes-JPYPRX.jpg');
}

.main_image {
    max-width: 400px;
    max-height: 300px;

    border-radius: 10px;
}
.main_images{
    display: flex;
    justify-content: space-evenly;
}

.main_offer {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    background: white;
}

.main_offer span {
    color: rgb(8, 192, 8);
    font-size: 25px;
}

@media (max-width: 500px){
    .main_images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}